.portfolio {
  color: white;
  padding: 0 70px 90px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0 0 50px;
}

.portfolio__items {
  padding: 0;
}

.portfolio__item {
  border-bottom: solid 1px white;
  height: 69px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.04em;
}

.portfolio__item:nth-last-of-type(1) {
  border-bottom: none;
  margin-bottom: 0;
}

.portfolio__link {
  color: white;
  text-decoration: none;
  list-style: none;
}

.portfolio__link-image {
  max-width: 18px;
  margin: 0 7px 11px 0;
}

@media screen and (max-width: 880px) {
  .portfolio {
    padding: 0 50px 55px;
  }

  .portfolio__item {
    font-size: 28px;
    line-height: 50px;
  }

}