.about-project {
  max-height: 608px;
  padding: 110px 70px 141px;
  color: white;
  margin: 0 auto;
}

.about-project__text {
  margin: 0;
  height: 27px;
  padding-bottom: 23px;
  border-bottom: solid 1px white;
}

.about-project__info {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 70px 0 110px;
}

.about-project__info-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 550px;
  margin-top: 26px;
}

.about-project__info-item:nth-last-of-type(3) {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

.about-project__info-item:nth-last-of-type(2) {
  margin-right: 40px;
}

.about-project__info-item:nth-last-of-type(4) {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 40px 0 0;
}

.about-project__timing {
  padding: 0;
  margin: 0;
  display: flex;
}

.about-project__timing-item {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about-project__timing-item:nth-last-of-type(2) {
  font-weight: 400;
  height: 36px;
  max-width: 228px;
  color: black;
  background: #3DDC84;
}

.about-project__timing-item:nth-last-of-type(1) {
  font-weight: 400;
  height: 36px;
  max-width: 912px;
  background: #303030;
}

.about-project__timing-item:nth-last-of-type(1)::after {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  content: 'Front-end';
  bottom: -41px;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #8B8B8B;
  min-width: 120px;
}

.about-project__timing-item:nth-last-of-type(2)::after {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  content: 'Back-end';
  bottom: -41px;
  left: 63%;
  transform: translate(-50%, -50%);
  color: #8B8B8B;
  min-width: 120px;
}